<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
    <HEAD>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <TITLE>PyPg - Python User Group Perugia</TITLE>
        <LINK rel="stylesheet" href="/css/default.css" type="text/css" media="screen" title="default stylesheet" charset="utf-8">
        <!--<LINK rel="shortcut icon" href="/images/icons/favicon.ico">-->
    </HEAD>
    <BODY class="bodyclass-default">
        
        <DIV id="header">
            <A href="http://pypg.org" id="logo">PyPg</A>
        </DIV>
        
        <DIV id="content" class="clearfix">
            <DIV id="title-section" class="section first-section">
                <H1 id="title">PyPg - Python User Group Perugia</H1>
                <P id="subtitle">
                    Un gruppo di appassionati Pythonisti localizzati nei dintorni di Perugia e Provincia.
                </P>
            </DIV>
            <DIV id="about" class="section second-section clearfix">
                <H2 id="tagline">Cosa facciamo</H2>
                <p>
                    Organizziamo incontri periodici finalizzati allo scambio di conoscenze, alla diffusione di Python ed al consumo di birra. 
                    Ogni nuovo adepto è naturalmente il benvenuto, per cui se sei uno sviluppatore, uno smanettone o semplicemente un appassionato
                    di tecnologia, vieni ai nostri incontri!
                </p>
                <H2 id="tagline">Come partecipare</H2>
                <UL>
                    <LI>
                        <STRONG>Mailing list</STRONG>: E' il mezzo di comunicazione principale, <a target="_blank" href="http://groups.google.com/group/pypg">iscriviti</a>!
                    </LI>
                    <LI>
                        <STRONG>Microblogging</STRONG>: Seguici su <a target="_blank" href="http://twitter.com/pyperugia">Twitter</a> o <a target="_blank" href="http://identi.ca/pypg">Identi.ca</a>, passano tanti tweet interessanti...
                    </LI>
                    <LI>
                        <STRONG>Github</STRONG>: Se vuoi darci una mano, <a target="_blank" href="http://github.com/pypg/pypg">forka il progetto</a> del nostro sito.
                    </LI>
                </UL>
            </DIV>
            <DIV id="timeline" class="two-col section third-section clearfix">
                <DIV class="col1">
                <H2 id="tagline">Prossimi eventi</H2>
                <UL>
                    {% if not next_events %}
                    <LI>
                        <STRONG>Nessun evento in programma</STRONG>
                    </LI>
                    {% endif %}
                    {% for event in next_events %}
                    <LI>
                        <STRONG>{{ event.date|date:"d/m/Y" }}, ore {{ event.date|time:"H:i" }}</STRONG>: {{ event.title }}
                    </LI>
                    {% endfor %}
                </UL>
                </DIV>
                <DIV id="recent-twits" class="col2">
                    <H2>Ultime da Twitter</H2>
                    <UL>
                        {% for tweet in tweets %}
                        <LI class="clearfix">
                            <A href="javascript:void(0)"><SPAN class="pub-date">{{ tweet.created_at|date:"d/m/Y" }}</SPAN><SPAN class="title">{{ tweet.text }}</SPAN></A>
                        </LI>
                        {% endfor %}
                    </UL>
                    <P class="more">
                        <A target="_blank" href="http://twitter.com/pyperugia">Tutti i tweet</A>
                    </P>
                </DIV>
            </DIV>
        </DIV>
        <DIV id="footer" class="clearfix">
            <P>
                Sito sviluppato in Python su Google App Engine. Codice: http://github.com/pypg
            </P>
            <P>
                © 2010 <A href="http://pypg.org">PyPg</A>
            </P>
        </DIV>
    </BODY>
</HTML>
