{% extends "base.html" %}

{% block title %}PyPg - Note Legali{% endblock %}
            
{% block heading_contents %}
<H1 id="title">PyPg - Note Legali</H1>
{% endblock %}

{% block main_contents %}
<H2 id="tagline">Logo</H2>
<p>
    Il logo è (c) pypg e rilasciato con licenza 
    <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
        Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported
    </a>
    . L'uso del logo di Python nello stemma è conforme alle 
    <a href="http://www.python.org/psf/trademarks/">
        Trademarks Usage Policies 
    </a>
    ed esplicitamente autorizzato dalla Python Software Foundation. 
    Il disegno del grifo è derivato da araldicacivica.it, 
    <a href="http://www.araldicacivica.it/stemmi/province/stemma/?id=35.">
        qui l'originale
    </a>
    . 
</p>
<H2 id="tagline">Sito</H2>
<p>
    Il codice di questo sito è <a href="http://en.wikipedia.org/wiki/Public_Domain">Public Domain</a>. 
</p>

<p>
    <a href="/">Torna alla homepage</a>
</p>
{% endblock %}

{% block sidebar %}{% endblock %}